<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="PWGRAM BES Company">
        <meta name="author" content="BES Company">

        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('favicon.png', 'images') }}" type="image/png"/>
        {% endblock %}

        <title>
            {% block title %}
                {{ page }}
            {% endblock %} - PWGram
        </title>

        {% block styles %}
            <!-- bootstrap css -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>

            <link rel = "stylesheet" type = "text/css" href = "{{  asset('main.css', 'css')}}">
        {% endblock %}
    </head>
    <body id="home" data-target=".navbar">
        <!-- navbar -->
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" {% if brandText == 'PWGram' %} href="/" {% else %} href="/myProfile" {% endif %}>
                <img src={{ brandSrc }} width="30" height="30" class="d-inline-block align-top mr-2" alt="">{{ brandText }}
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {%  block header %}
                        {% for nav in navs %}
                            <li class="nav-item">
                                {% if nav.currentPage == true %}
                                    {% if nav.dataTarget is defined %}
                                        <a class='nav-link active' data-target={{ nav.dataTarget }} data-toggle="modal" href="">{{ nav.name }}</a>
                                    {% else %}
                                        {% if nav.name == 'Notifications' and count > 0 %}
                                            <a class='nav-link active' href={{ nav.href }}>{{ nav.name }} <span class="ml-1 badge">{{ count }}</span></a>
                                        {% else %}
                                            <a class='nav-link active' href={{ nav.href }}>{{ nav.name }}</a>
                                        {% endif %}
                                    {% endif %}

                                {% else %}
                                    {% if nav.dataTarget is defined %}
                                        <a class='nav-link' data-target={{ nav.dataTarget }} data-toggle="modal" href="">{{ nav.name }}</a>
                                    {% else %}
                                        {% if nav.name == 'Notifications' and count > 0 %}
                                            <a class='nav-link' href={{ nav.href }}>{{ nav.name }} <span class="ml-1 badge badge-unselected">{{ count }}</span></a>
                                        {% else %}
                                            <a class='nav-link' href={{ nav.href }}>{{ nav.name }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {%  endblock %}
                </ul>
            </div>
        </nav>
        <!-- /navbar -->

        <div class="container pt-4">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    {% block footer %}
        <footer>
            <div class="container pt-2">
                <hr>
                <div class="pt-3 pb-4">
                    <div class="col-12 text-center">
                        <small>Copyright &copy; 2017 B.E.S Company; Borja Pérez, Esteve Genovard & Sergi Simó</small>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block scripts %}
        <!-- bootstrap js -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {%  endblock %}
</html>