{%  extends 'base.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel = "stylesheet" type = "text/css" href = "{{  asset('home.css', 'css')}}">
{% endblock %}

{% block content %}
    {{ parent() }}

    {% if posts is not defined or posts.mostViewed|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No public pictures have been posted yet.
        </div>
    {% else %}
        <h1 id="sectionTitle" class="display-4 my-4 text-muted">Most viewed posts</h1>

        <div class="row mt-4">
            {% for post in posts.mostViewed %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="card-header card-info text-white">
                                    <h7><a href={{ post.postPage }}>{{ post.title }}</a></h7>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <img class="card-img-top img-fluid" src={{ post.src }} alt="..." id="postImage">
                        </div>
                    </div>

                    <div class="text-left mt-2">
                        <p>Posted by <h7 class="font-weight-bold text-primary"><a href={{ post.userProfile }}>{{ post.username }}</a></h7> on {{ post.postDate }}</p>
                    </div>

                    {% if active == true %}
                        {% if post.liked == true %}
                            <div class="text-left mt-2">
                                <p><a id='postLikedAction-{{ post.id }}' class="ml-1 likeAction" href=''><img class="mr-2" id='postLiked-{{ post.id }}' src="assets/images/heart-selected.png" width="25"></a><span id="likeTitle">Dislike</span></p>
                            </div>
                        {% else %}
                            <div class="text-left mt-2">
                                <p><a id='postLikedAction-{{ post.id }}' class="ml-1 unlikeAction" href=''><img class="mr-2" id='postLiked-{{ post.id }}' src="assets/images/heart.png" width="25"></a><span id="likeTitle">Like</span></p>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="text-left">
                        <p class="text-muted">{{ post.likes }} like(s), {{ post.visits }} visit(s)</p>
                    </div>

                    {% if active == true and post.userCanComment == true %}
                        <hr>
                        <div class="form-group mt-3" id="addCommentGroup-{{ post.id }}">
                            <div class="row">
                                <div class="col-sm-9 mb-2">
                                    <input type="email" class="form-control" id='commentInput-{{ post.id }}' aria-describedby="emailHelp" placeholder="Type comment">
                                </div>
                                <div class="col-sm-2 float-right">
                                    <button type="submit" class="btn btn-primary btn-md postButton" id='postCommentButton-{{ post.id }}'>Post</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <h1 id="sectionTitle" class="display-4 my-4 text-muted">Most recent posts</h1>

        <div class="row mt-4">
            {% for post in posts.mostRecent %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col">
                                <div class="card-header card-info text-white">
                                    <h7><a href={{ post.postPage }}>{{ post.title }}</a></h7>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <img class="card-img-top img-fluid" src={{ post.src }} alt="..." id="postImage">
                        </div>
                    </div>

                    <div class="text-left mt-2">
                        <p>Posted by <h7 class="font-weight-bold text-primary"><a href={{ post.userProfile }}>{{ post.username }}</a></h7> on {{ post.postDate }}</p>
                    </div>

                    {% if active == true %}
                        {% if post.liked == true %}
                            <div class="text-left mt-2">
                                <p><a id='postLikedAction-{{ post.id }}' class="ml-1 likeAction" href=''><img class="mr-2" id='postLiked-{{ post.id }}' src="assets/images/heart-selected.png" width="25"></a><span id="likeTitle">Dislike</span></p>
                            </div>
                        {% else %}
                            <div class="text-left mt-2">
                                <p><a id='postLikedAction-{{ post.id }}' class="ml-1 unlikeAction" href=''><img class="mr-2" id='postLiked-{{ post.id }}' src="assets/images/heart.png" width="25"></a><span id="likeTitle">Like</span></p>
                            </div>
                        {% endif %}
                    {% endif %}

                    <div class="text-left">
                        <p class="text-muted">{{ post.likes }} like(s)</p>
                    </div>

                    {% if post.lastComment != null %}
                        <hr>
                        <div class="text-left mb-2">
                            <h7 class="font-weight-bold text-muted">{{ post.lastComment.username }}</h7>
                            <q>{{ post.lastComment.content }}</q>
                        </div>
                    {% endif %}

                    {% if active == true and post.userCanComment == true %}
                        <hr>
                        <div class="form-group mt-3" id="addCommentGroup-{{ post.id }}">
                            <div class="row">
                                <div class="col-sm-9 mb-2">
                                    <input type="email" class="form-control" id="commentInput-{{ post.id }}" aria-describedby="emailHelp" placeholder="Type comment">
                                </div>
                                <div class="col-sm-2 float-right">
                                    <button type="submit" class="btn btn-primary btn-md postButton" id='postCommentButton-{{ post.id }}'>Post</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div id="login" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Login</h4>
                </div>

                <div class="modal-body" id="loginModal">
                    <!-- login form -->
                    <form id="form-group">
                        <div class="form-group" id="usernameGroup">
                            <label for="usernameLogin">Username:</label>
                            <input type="text" class="form-control" id="usernameInput">
                        </div>

                        <div class="form-group" id="passwordGroup">
                            <label for="loginPassword" class="form-control-label pl-0">Password:</label>
                            <input type="password" class="form-control" id="passwordInput">
                        </div>

                        <hr class="mb-2">

                        <button type="submit" class="btn btn-primary btn-lg" id="loginButton">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="register" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-info">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Register for PWGram</h4>
                </div>

                <div class="modal-body", id="registrationModal">
                    <form id="registerGroup">
                        <div class="container text-center">
                            <img class="img-fluid" src="assets/images/defaultProfile.png" width="100" height="100"  alt="..." id="profileImage">
                        </div>

                        <div class="form-control-file text-center mt-3 mb-3">
                            <label class="btn btn-outline-primary btn-sm fileContainer pl-2 pr-2 pt-1 pb-1">
                                Select profile image
                                <input type="file" id="selectImageButton"/>
                            </label>
                        </div>

                        <div class="form-group" id="registerUsernameGroup">
                            <label for="usernameRegistration" class="form-control-label pl-0">Username:</label>
                            <input type="text" class="form-control" id="registerUsernameInput">
                        </div>

                        <div class="form-group" id="registerBirthdateGroup">
                            <label for="birthDateRegistration" class="form-control-label pl-0">Birthdate:</label>
                            <input type="text" class="form-control" id="registerBirthdateInput" placeholder="(YYYY-MM-DD)">
                        </div>

                        <div class="form-group" id ="registerPasswordGroup">
                            <label for="passwordRegistration" class="form-control-label pl-0">Password:</label>
                            <input type="password" class="form-control" id="registerPasswordInput">
                        </div>

                        <div class="form-group" id="registerConfirmPasswordGroup">
                            <label for="repeat-passwordRegistration" class="form-control-label pl-0">Confirm password:</label>
                            <input type="password" class="form-control" id="registerConfirmPasswordInput">
                        </div>

                        <div class="form-group" id="registerEmailGroup">
                            <label for="mailRegistration" class="form-control-label pl-0">Email:</label>
                            <input type="email" class="form-control" id="registerEmailInput">
                        </div>

                        <hr class="mb-2">

                        <button type="submit" class="btn btn-primary btn-lg" id="registerButton">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src = "{{ asset('/home.js', 'js') }}" type = "text/javascript" charset = "utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
{% endblock %}