{%  extends 'base.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel = "stylesheet" type = "text/css" href = "{{  asset('myProfile.css', 'css')}}">
{% endblock %}

{% block content %}
    {{ parent() }}
    <h1 id="sectionTitle" class="display-4 my-4 text-muted">My profile</h1>

    <div class="row">
        <div class="col-lg-5 col-xl-4 col-md-6 col-sm-12 mb-3" id="imageGroup">
            <div class="card">
                <div class="card-header card-info text-white">
                    <label class="form-check-label">
                        <label class="btn btn-outline-white btn-sm fileContainer">
                            Change image
                            <input type="file" id="selectImageButton"/>
                        </label>
                    </label>
                </div>

                <div class="text-center">
                    <img class="card-img-top img-fluid" src={{ user.profileImage }} alt="..." id="postImage">
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-xl-7 col-md-6 col-sm-12">
            <div class="form-group" id="usernameGroup">
                <label for="titleInput">Username:</label>
                <input type="email" class="form-control" id="usernameInput" aria-describedby="emailHelp" value={{ user.username }}>
            </div>

            <div class="form-group" id="birthdateGroup">
                <label for="titleInput">Birthdate:</label>
                <input type="email" class="form-control" id="birthdateInput" aria-describedby="emailHelp" value={{ user.birthdate }}>
            </div>

            <div class="form-group" id="passwordGroup">
                <label for="titleInput">Password:</label>
                <input type="password" class="form-control" id="passwordInput" aria-describedby="emailHelp" value={{ user.password }}>
            </div>

            <button type="submit" class="btn btn-primary btn-md" id="postButton">
                Save changes
            </button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src = "{{ asset('/myProfile.js', 'js') }}" type = "text/javascript" charset = "utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
{% endblock %}